.App {
  text-align: center;

}

.App-logo {
  margin-top: 20px;
  width: 300px;
  border-radius: 50%;
}

.App-header {
  background-image: url("assets/guthub.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#bio {
  width: 400px;
}
#bio p{
  text-align: justify;
}


 /* .body {
   min-height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   

 }
.maketxt {
  margin-right: 20px ;
  background: blue;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */